a{
  text-decoration: none;
}

.video-card-wrapper {
  display: flex;
  justify-content: center;
  margin: 80px;
}

.video-card {
  background: #fff;
  display: flex;
  min-width: 60vw;
  width: 950px;
  box-shadow: 0px 0px 10px 0px rgb(235, 228, 228, 0.8);
  border-radius: 5px;
}

.video-card-image {
  margin: 20px 0px;
  width: 90%;
}

.video-card-thumbnail {
  max-width: 1000px;
  min-width: 400px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-card-details {
  padding: 30px 15px 30px;
  width: 55%;
  margin: auto;
}

.video-card-channel {
  font-size: 15px;
  font-weight: 600;
  margin: 15px 0 10px;
  color: blue;
}
.video-card-title {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: max(1rem, 25px);
  margin: 0;
}

.video-card-description {
  font-size: 0.95rem;
  font-weight: 600;
  color: black;
}

@media only screen and (max-width: 1000px) {
  .video-card {
    flex-direction: column;
    margin: 10px;
    max-width: none;
  }

  .video-card-image {
    width: 90%;
  }

  .video-card-thumbnail {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  .video-card-details {
    max-width: 500px;
    width: 100%;
    padding: 20px;
  }
}
