.about-container {
  padding: 50px 0px;
  background-color: white;
}

.row-aboutus {
  display: flex;
}

.aboutus_text {
  margin-left: 180px;
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.aboutus_text::after {
  margin-top: 20px;
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 10px;
  background-color: orange;
  border-radius: 10px;
  z-index: 1;
}
.aboutus_text1 {
  color: orange;
}

.aboutus_text2 {
  margin-top: 40px;
  margin-left: 40px;
  color: black;
}

.aboutus_btn {
  color: black;
  background-color: orange;
  width: 130px;
  height: 40px;
  margin-left: 40px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 5px;
}

.aboutus_btn:hover {
  transform: scale(1.1);
}
