.AddSkillOuter {
  padding: 180px 100px 10px;
}

.Update-Text {
  color: #f9004d;
  display: grid;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.Update-Grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.Update-Upper {
  /* background-color: bisque; */
  margin: auto;
}

.Up-Image {
  width: auto;
}

.Form-Label {
  color: green;
  margin-left: 5px;
}

.Form-Input {
  background-color: whitesmoke;
  width: 70%;
  border-radius: 10px;
}
.addSkill-button {
  background-color: #f9004d;
  margin-top: 20px;
  margin-left: 20px;
}

@media (max-width: 1225px) {
  .Update-Upper {
    display: none;
  }

  .Form-Input {
    background-color: whitesmoke;
    border-radius: 10px;
  }
  .Update-Grid {
    display: grid;
    grid-template-columns: 100%;
    margin-left: 20%;
  }
}
