.about {
  display: block;
  background-color: hsl(0, 0%, 100%);
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 80px;
  padding-bottom: 100px;
}

.about-div {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 5fr;
  gap: 50px;
}

.de_about_contest {
  background-color: green;
}

.about-text {
  margin-right: 10vw;
}

.de_about_title {
  font-weight: 700;
  /* font-size: 2.5vw; */
  font-size: clamp(2.5vw,20vw,14px);
  margin-bottom: 1vw;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

.de_about_section {
  color: gray;
  margin-bottom: 45px;
  font-family: 'DM Sans', sans-serif;
  /* font-size: 1.1vw; */
  font-size: clamp(1.1vw,20vw,10px);
  line-height: 1.6;
}

.about-img {
  width: 32vw;
  margin-left: 12vw;
}
