*
{
    font-family: 'Josefin Sans', sans-serif;
}

.image{
    width: 150px;
}
.navbar{
    background-color: rgba(0, 0, 0);
}

.nav-point{
    color: white;
    margin: 0px 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 850;
    transition: all .5s ease
}

.navbar span {
    color: #f9004d;
    font-size: large;
    margin-left: 8px;
}

.log-in-link {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease
  }

.log-in-link:hover{
    color: gold;
}

.durjoy:hover{
    /* background-color: rgb(209, 209, 126);
    box-shadow: 0 0 20px lightyellow;
    color: black;
    text-shadow: 0 0 20px lightyellow; */
    

    font-size: 25px;
    font: bolder;
    color: rgb(0, 238, 255);
    text-shadow: 0 0 30px white;
}