*
{
    font-family: 'Josefin Sans', sans-serif;
}

.section-contact
{
    background-color: black;
}

.Container_Background
{
    padding-top: 80px;
    padding-bottom: 50px;
}

/* Get In Touch */
.display-4
{
    /*color: rgb(56, 56, 214);*/
    color: #bbbbbb;
    font-weight: 500;

    border-bottom: 1px solid gold;
    padding-bottom: 5px;
    
}

/* Get In Touch */
.color_sec{
    color: #bbbbbb;
    /*color:rgb(56, 56, 214);*/
    font-weight: 500;
    font-size: 35px;
}

strong span{
    color: gold;
    font-weight: 300;
}

strong{
    color: #f9004d;
    font-size: 18px;
}


/* Social Bar */

#social{
    display: flex;
    /*background-color: aqua;*/
    margin-left: -10px;
}

#social a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 20px 12px;
    transition: .8s;
    color: white;
}

#social a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 25px white;
    transform: scale(1.2);
}
