

.CD_Outer{
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 250px;
}

.CD_IMG{
    padding-left: 85px;
    width:100%;
    height:350px;
}

.CaptionCourseDownload{
    width: 50%;
    /* background-color: rgb(250, 234, 12); */
    margin: auto;
    /* color: rgb(255, 255, 255); */
    color: gold;
}
.btnDownload:hover{
    color: gold;
    font-weight: bolder; 
    /* background-color: #dc3545; */
    background-color: gray;
}

