

.video-player-wrapper {
  display: flex;
  flex-direction: column;
}

.video-player {
  margin: 150px auto 10px;
  width: 60%;
}

.video-player iframe,
.video-player video {
  width: 100%;
  height: min(70vw, 550px);
}

.video-player-details {
  width: 60%;
  margin: auto;
}

.video-player-title {
  font-size: 28px;
  font-weight: 600;
  color: brown;
  margin-top: 0;
  margin-bottom: 5px;

}

.video-player-channel {
  font-size: 18px;
  font-weight: 700;
  color:blue;
  margin-bottom: 50px;
}
