

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 10px;
}

.blog_container_img {
  max-width: 800px;
  margin-bottom: 20px;
}

.blog_banner_img {
  width: 100%;
  height: auto;
}

.blog_caro {
  width: 100%;
  max-width: 60vw;
}

.blog_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px auto 80px;
  height: 500px;
}

.blog_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.blog_btn {
  background-color: #0088e5;
  margin: 25px auto;
  display: flex;
  justify-content: center; /* Added */
  align-items: center; /* Added */
  width: 200px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border: none;
  border-radius: 50px;
  
}

.blog_link {  
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.blog_text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.blog_text1 {
  margin-top: 5px;
  color: #888;
  text-align: center;
}

.blog_main_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 50px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
  margin: 50px 200px;
}

.blog_main_img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.blog_main_text {
  margin: 30px 0 15px;
  font-size: 24px;
  font-weight:600;
  text-align: center;
  
}

.blog_main_text1 {
  margin: 10px;
  color: #888;
  text-align: center;
}

.blog_main_text2 {
  margin: 20px 30px;
  text-align: right;
  font-weight: normal;
}

.blog_main_text3 {
  margin-top: 10px;
  margin: 0 50px;
}

.blog_main_btn {
  margin-top: 20px;
  box-shadow: 0 0 15px rgb(2, 194, 252);
}

/* Custom arrow styles for Slick Carousel */

.slick-prev:before,
.slick-next:before {
  color: red;
  font-size: 70px;
  line-height: 1;
}

.slick-prev {
  left: -80px;
}

.slick-next {
  right: -50px;
}

/* Additional styles if needed */

/* Customize the link color on hover */
.blog_link:hover {
  color: #fff;
  text-decoration: none;
}

/* Add hover effect on blog cards */
.blog_card:hover {
  background-color: #e9e9e9;

}

.blog_main_btn {
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.blog_main_btn:hover {
  background-color: #0088e5;
}
