*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins', sans-serif;
}

.admin-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: darkcyan; */
}

.container-admin{
    /* background-color: bisque; */
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-admin span{
    position: absolute;
    left: 18px;
    width: 32px;
    height: 6px;
    background: gray;
    border-radius: 8px;
    transform: scale(2.2) rotate(calc(var(--i)*(360deg /50)));
    transform-origin: 128px;
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s / 50));
}

@keyframes animateBlink{
    25% {
        background-color: darkgreen;
    }
    
    50%{
        background-color: darkred;
    }

    75%{
        background-color: darkgoldenrod;
    }
}

.admin-span{
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background-color: yellow;
    border-radius: 8px;
}

.admin-login-box{
    position: absolute;
    width: 400px;
    /* background-color: aquamarine; */
    /* background: darkcyan; */
}

.admin-login-box form{
    width: 100%;
    padding: 0 50px;
}

.admin-h2
{
    color: gold;
    text-align: center;
    font-size: 25px;   
}

.input-box-admin{
    position: relative;
    margin: 25px 0;
}

.input-box-admin input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    color: gold;
    padding: 0 20px;
    transition: .5s ease;
}

.input-box-admin input:focus,
.input-box-admin input:valid{
    border-color: darkgoldenrod;

}

.input-box-admin label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    font-weight: bold;
    pointer-events: none;
    transition: .5s ease;
}

.input-box-admin input:focus~label,
.input-box-admin input:valid~label{
    top: 1px;
    font-size: 18px;
    background: darkcyan;
    padding: 0 6px;
    color: gold;
}

.btn-admin{
    width: 100%;
    height: 45px;
    background: gray;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 600;
}




